/*

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body {
  background: #0f0f0f;
}

@media screen and (max-width: 767px) {
  .ios-pic {
    display: none;
  }
}
/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
  position: relative;
  height: 70vh;
  width: 100%;
  background: #161415 url(../images/header-background.jpg) no-repeat top center;
  filter: brightness(90%);
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

/* vertically center banner section */
header:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}
header .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  text-align: center;
}

header .banner-text {
  width: 100%;
}
header .banner-text h1 {
  font: 1.1em "opensans", sans-serif;
  color: #fff;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}
header .banner-text h2 {
  font: 1.1em "opensans", sans-serif;
  color: #fff;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

header .banner-text h3 {
  font: 1.9em "librebaskerville-regular", serif;
  color: #a8a8a8;
  margin: 0 auto;
  width: 70%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
header .banner-text h3 span,
header .banner-text h3 a {
  color: #fff;
}
header .banner-text hr {
  width: 60%;
  margin: 18px auto 24px auto;
  border-color: #2f2d2e;
  border-color: rgba(150, 150, 150, 0.1);
}

/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
  background: #eaebf5;
  color: #0f0f0f;
}

#about .row {
  display: flex;
}

#about .column {
  float: left;
  width: 100%;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

#about .ios-pic {
  position: relative;
  object-fit: cover;
}

#about h4.end {
  font: 14px "opensans-bold", sans-serif;
  color: #444444;
  padding-bottom: 3%;
}
#about h4 {
  font: 14px "opensans-bold", sans-serif;
  color: #444444;
  margin-bottom: 5vh;
}
#about p.lead {
  margin-top: 5vh;
  font: 18px "opensans-bold", sans-serif;
  color: #0f0f0f;
}
#about p {
  font: 18px "opensans-bold", sans-serif;

  color: #0f0f0f;
}

/* ------------------------------------------------------------------ */
/* c. About2 Section
/* ------------------------------------------------------------------ */

#about2 {
  background: #212b48;
  padding-top: 5%;
  padding-bottom: 5%;
  max-height: 30.3vh;
  min-height: 30.2vh;
}

#about2 .contact-details {
  width: 100%;
  text-align: center;
}
#about2 a,
#about a:visited {
  color: #fff;
}
#about2 a:hover,
#about a:focus {
  color: #11abb0;
}

#about2 h2 {
  font: 1.5em "opensans-bold", sans-serif;
  color: #fff;
}
#about2 p {
  font: 0.8em "opensans-bold", sans-serif;
  color: #fff;
}

#about2 .download .button {
  background: #444;
}
#about2 .download .button:hover {
  background: #fff;
  color: #2b2b2b;
}
#about2 .download .button i {
  font-size: 2em;
}
.linkios {
  background-color: #000000;
}

.linkdroid {
  background-color: #000000;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

/* ------------------------------------------------------------------ */
/* c. About3 Section
/* ------------------------------------------------------------------ */

#about3 {
  background: #ffffff;
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
}

#about3 a,
#about a:visited {
  color: rgb(0, 0, 0);
}
#about3 a:hover,
#about a:focus {
  color: #11abb0;
}

#about3 h2 {
  font: 22px/30px "opensans-bold", sans-serif;
  color: rgb(0, 0, 0);
  margin-bottom: 12px;
}

#about3 h4 {
  color: rgb(0, 0, 0);
  font-size: 14px;
}

#about3 p {
  color: rgb(0, 0, 0);
  margin: 0;
}
#about3 .profile-pic {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
#about3 .contact-details {
  width: 100%;
  text-align: center;
}
#about3 .download {
  width: 58.33333%;
  padding-top: 6px;
}
#about3 .main-col {
  padding-right: 5%;
}
#about3 .download .button {
  margin-top: 6px;
  background: #444;
}
#about3 .download .button:hover {
  background: #fff;
  color: #2b2b2b;
}
#about3 .download .button i {
  margin-right: 15px;
  font-size: 20px;
}

/* ------------------------------------------------------------------ */
/* c. Video Section
/* ------------------------------------------------------------------ */

#video {
  background: #ffffff;

  overflow: hidden;
}

#video a,
#about a:visited {
  color: rgb(0, 0, 0);
}
#video a:hover,
#about a:focus {
  color: #11abb0;
}

#video h2 {
  font: 22px/30px "opensans-bold", sans-serif;
  color: rgb(0, 0, 0);
  margin-top: 22px;
}

#video h4 {
  color: rgb(0, 0, 0);
  font-size: 14px;
}

#video p {
  color: rgb(0, 0, 0);
  margin: 0;
}
#video .profile-pic {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
#video .contact-details {
  width: 100%;
  text-align: center;
}
#video .download {
  width: 58.33333%;
  padding-top: 6px;
}
#video .main-col {
  padding-right: 5%;
}
#video .download .button {
  margin-top: 6px;
  background: #444;
}
#video .download .button:hover {
  background: #fff;
  color: #2b2b2b;
}
#video .download .button i {
  margin-right: 15px;
  font-size: 20px;
}

/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#seventh {
  background: #eaebf5;
  color: #0f0f0f;
}

#seventh .row {
  display: flex;
}

#seventh .column {
  float: left;
  width: 100%;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

#seventh .ios-pic {
  position: relative;
  object-fit: cover;
}

#seventh h4.end {
  font: 16px "opensans-bold", sans-serif;
  color: #444444;
  padding-bottom: 10%;
}
#seventh h4 {
  font: 14px "opensans-bold", sans-serif;
  color: #444444;
}
#seventh p.lead {
  margin-top: 5vh;
  font: 18px "opensans-bold", sans-serif;
  margin-bottom: 0px;
  color: #0f0f0f;
}
#seventh p {
  font: 18px "opensans-bold", sans-serif;
  margin-bottom: 5vh;
  color: #0f0f0f;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content .popup-modal {
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
/* content fadein */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
  opacity: 1;
}
/* content fadeout */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
  opacity: 0;
}

/* ------------------------------------------------------------------ */
/* f. Call To Action Section
/* ------------------------------------------------------------------ */

#call-to-action {
  background: #212121;
  padding-top: 66px;
  padding-bottom: 48px;
}
#call-to-action h1 {
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}
#call-to-action h1 span {
  display: none;
}
#call-to-action .header-col h1:before {
  font-family: "FontAwesome";
  content: "\f0ac";
  padding-right: 10px;
  font-size: 72px;
  line-height: 72px;
  text-align: left;
  float: left;
  color: #fff;
}
#call-to-action .action {
  margin-top: 12px;
}
#call-to-action h2 {
  font: 28px/36px "opensans-bold", sans-serif;
  color: #ebeeee;
  margin-bottom: 6px;
}
#call-to-action h2 a {
  color: inherit;
}
#call-to-action p {
  color: #636363;
  font-size: 17px;
}
/*#
call-to-action .button {
	color:#fff;
   background: #0D0D0D;
}
*/
#call-to-action .button:hover,
#call-to-action .button:active {
  background: #ffffff;
  color: #0d0d0d;
}
#call-to-action p span {
  font-family: "opensans-semibold", sans-serif;
  color: #d8d8d8;
}

/* ------------------------------------------------------------------
/* g. Testimonials
/* ------------------------------------------------------------------ */

#testimonials {
  background: #1f2a47;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  background-attachment: fixed;

  position: relative;
  min-height: 200px;
  width: 100%;
  overflow: hidden;
}
#testimonials .text-container {
  padding-top: 96px;
  padding-bottom: 66px;
}
#testimonials h1 {
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}
#testimonials h1 span {
  display: none;
}
#testimonials .header-col {
  padding-top: 9px;
}
#testimonials .header-col h1:before {
  font-family: "FontAwesome";
  content: "\f10d";
  padding-right: 10px;
  font-size: 72px;
  line-height: 72px;
  text-align: left;
  float: left;
  color: #fff;
}

/*	Blockquotes */
#testimonials blockquote {
  margin: 0 0px 30px 0px;
  padding-left: 0;
  position: relative;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}
#testimonials blockquote:before {
  content: none;
}
#testimonials blockquote p {
  font-family: "librebaskerville-italic", serif;
  padding: 0;
  font-size: 24px;
  line-height: 48px;
  color: #fff;
}
#testimonials blockquote cite {
  display: block;
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  color: #fff;
}
#testimonials blockquote cite:before {
  content: "\2014 \0020";
}
#testimonials blockquote cite a,
#testimonials blockquote cite a:visited {
  color: #8b9798;
  border: none;
}

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus {
  outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slides li {
  margin: 0;
  padding: 0;
}

/* Necessary Styles */
.flexslider {
  position: relative;
  zoom: 1;
  margin: 0;
  padding: 0;
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides > li {
  position: relative;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container {
  zoom: 1;
  position: relative;
}

/* Clearfix for .slides */
.slides:before,
.slides:after {
  content: " ";
  display: table;
}
.slides:after {
  clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}

/* Slider Styles */
.slides {
  zoom: 1;
}
.slides > li {
  /*margin-right: 5px; */
  overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -20px;
  text-align: left;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 12px;
  height: 12px;
  display: block;
  background: #ddd;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
}
.flex-control-paging li a:hover {
  background: #ccc;
  background: rgba(255, 255, 255, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  cursor: default;
}

/* ------------------------------------------------------------------ */
/* c. Ninth Section
/* ------------------------------------------------------------------ */

#ninth {
  background: #ffffff;
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
}

#ninth a,
#ninth a:visited {
  color: #fff;
}
#ninth a:hover,
#ninth a:focus {
  color: #11abb0;
}

#ninth h2 {
  font: 22px/30px "opensans-bold", sans-serif;
  color: #0f0f0f;
  margin-bottom: 12px;
}
#ninth p {
  line-height: 30px;
  color: #fff;
}
#ninth .profile-pic {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
#ninth .contact-details {
  width: 100%;
  text-align: center;
}
#ninth .download {
  width: 58.33333%;
  padding-top: 6px;
}
#ninth .main-col {
}
#ninth .download .button {
  margin-top: 6px;
  background: #444;
}
#ninth .download .button:hover {
  background: #fff;
  color: #2b2b2b;
}
#ninth .download .button i {
  font-size: 20px;
}

/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
  background: #eaebf5;
  color: #0f0f0f;
}

#contact .row {
  display: flex;
}

#contact .column {
  float: left;
  width: 100%;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

#contact .ios-pic {
  position: relative;
  object-fit: cover;
}

#contact h4.end {
  font: 12px "opensans-bold", sans-serif;
  color: #444444;
  padding-bottom: 3%;
}
#contact h4 {
  font: 12px "opensans-bold", sans-serif;
  color: #444444;
}
#contact p.lead {
  margin-top: 5vh;
  font: 18px "opensans-bold", sans-serif;
  margin-bottom: 0px;
  color: #0f0f0f;
}
#contact p {
  font: 18px "opensans-bold", sans-serif;
  margin-bottom: 5vh;
  color: #0f0f0f;
}

/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
  padding-top: 48px;
  margin-bottom: 48px;
  color: #303030;
  font-size: 14px;
  text-align: center;
  position: relative;
}

footer a,
footer a:visited {
  color: #525252;
}
footer a:hover,
footer a:focus {
  color: #fff;
}

/* copyright */
footer .copyright {
  margin: 0;
  padding: 0;
}
footer .copyright li {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 24px;
}
.ie footer .copyright li {
  display: inline;
}
footer .copyright li:before {
  content: "\2022";
  padding-left: 10px;
  padding-right: 10px;
  color: #095153;
}
footer .copyright li:first-child:before {
  display: none;
}

/* social links */
footer .social-links {
  margin: 18px 0 30px 0;
  padding: 0;
  font-size: 30px;
}
footer .social-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 42px;
  color: #f06000;
}

footer .social-links li:first-child {
  margin-left: 0;
}

/* Go To Top Button */
#go-top {
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -30px;
}
#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #525252;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  color: #fff;
  font-size: 21px;
  line-height: 60px;
  border-radius: 100%;
}
#go-top a:hover {
  background-color: #0f9095;
}

/* ------------------------------------------------------------------ */
/* c. Message Section
/* ------------------------------------------------------------------ */

#message {
  background-color: #f5f5f5;
  padding-top: 96px;
  padding-bottom: 102px;
  color: #000000;
}

#message p.lead {
  font: 1.9em "opensans-bold", sans-serif;
  text-align: center;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #373233;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #373233;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #373233;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #373233;
}

/* ------------------------------------------------------------------ */
/* c. Message Section Contact Form
/* ------------------------------------------------------------------ */

.form-style-9 {
  width: 90%;
  max-width: 900px;
  background: #f5f5f5;
  padding: 3%;
  margin: 1% auto;
}
.form-style-9 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.form-style-9 ul li {
  display: block;
  margin-bottom: 10px;
  min-height: 35px;
}
.form-style-9 ul li .field-style {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #b0cfe0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.form-style-9 ul li .field-split {
  width: 49%;
  min-width: 48%;
}
.form-style-9 ul li .field-full {
  width: 100%;
}
.form-style-9 ul li input.align-left {
  float: left;
}
.form-style-9 ul li input.align-right {
  float: right;
}
.form-style-9 ul li textarea {
  width: 100%;
  height: 100px;
}

.form-style-9 ul li .submitbtn {
  font-size: 0.8em;
  width: 25vw;
  min-width: 130px;
  display: block;
  background: #212b48;
  margin-left: auto;
  margin-right: auto;
}
